<html>
	<head>
	</head>
	<body>
		<form action="/login" method="post">
			{% for field in loginform %}
			<tr>
				<th>{{ field.label }}</th>
				<td>{{ field }}</td>
			</tr>
			{% endfor %}
			<input type="submit" name="login">
		</form>
		<form action="/users" method="post">
			{% for field in newuserform %}
			<tr>
				<th>{{ field.label }}</th>
				<td>{{ field }}</td>
			</tr>
			{% endfor %}
			<input type="submit" name="user">
		</form>
		<h1>Current user: {{current_user.id}} {{current_user.username}}</h1>
		{% for u in users %}
		<h2>{{u.username}}</h2>
			{% for g in u.goals %}
			<h3>{{g.title}}</h3>
				{% for a in g.actions %}
				<p>- {{a.description}}</p>
				{% endfor %}
			{% endfor %}	
		{% endfor %}
	</body>
</html>
