<!doctype html>
<head>
<title>Maragi</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
	<header>
		<nav>
			<a href="/">Home</a>
			<a href="/login">Login</a>
			<a href="/logout">Logout</a>
			<a href="/dashboard">Dashboard</a>
			<a href="/settings">Settings</a>
		</nav>		
	</header>
	<main>
		{% with messages = get_flashed_messages() %}
  			{% if messages %}
    		<ul class=flashes>
    			{% for message in messages %}
      			<li>{{ message }}</li>
    			{% endfor %}
    		</ul>
  			{% endif %}
		{% endwith %}
		{% block body %}
		{% endblock %}
	</main>
	<footer>
		
	</footer>

</body>